// Colores

$colorUno:rgb(220, 20, 110);
$colorDos: #fff;
$colorTres: black;

// Fondos
$fondoUno: rgb(253, 235, 244); 

// Gradientes

$gradUno:linear-gradient(
    -225deg,
    #7058c5 0%,
    #dc3882 29%,
    #ff3f7f 67%,
    #fff800 100%
  ); 
